:root {
   --color-bg: #000;
   --color-text-heading: #DDD;
   --color-text-heading-ghost: #555; /* 5/14 of --color-text-heading */
   --color-text-main: #BBB;
   --color-text-main-ghost: #444; /* third of --color-text-main */
   --color-text-lowlight: #888;   /* 8/13 of --color-text-highlight*/
   --color-text-highlight: #DDD;
   --color-field-lowlight: #222; /* half of --color-field-highlight*/
   --color-field-highlight: #444;
   --color-text-link-nonvisited: #FFF;
   --color-text-link-visited: #AAA;
   --color-pane-fade: #111;  /* quarter of --color-field-highlight */
   --color-secret: #000;
}

body {
   transition-duration: 400ms;
   background-color: var(--color-bg);
   margin: 0px;
}

#main {
   font-size: 0;
   max-width:     900px;
   margin-left:   auto;
   margin-right:  auto;
   border-radius: 0px 0px 4px 4px;
   font-family: Arial, Helvetica, sans-serif;
}

#nav-bar {
   font-size: 24px;
   background-color:    var(--color-bg);
   padding-right: 12px;
   text-align: right;
   padding:             4px;
   color:                var(--color-text-main);
}

#nav-bar a {
   text-decoration: none;
   color:                var(--color-text-main);
}

#profLinks a {
   transition-duration: 200ms;
}

#profLinks a:hover{
   transition-duration: 200ms;
   color:      var(--color-text-lowlight);
}

/* #nav-bar a:hover{
   text-decoration: underline;
} */

#title {
   display: block;
   text-align: center;
}

#fnameA{
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   font-size: 24px;
   color:      var(--color-text-heading-ghost);
   transition-duration: 200ms;
   margin-bottom: -26px;
   margin-right: 4px;
}

#fnameB{
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   font-size: 24px;
   color:   var(--color-text-heading);
   transition-duration: 200ms;
}

#fnameB:hover{
   color: var(--color-text-main);
   transition-duration: 200ms;
   margin-right: -8px;
}

#profLinks {
   text-align: center;
}

/* content */
#content{
   color: var(--color-text-main);
}

#left-navbar{
   font-size: 18px;
   display: inline-block;
   width: 250px;
   margin: 0px;
}

.linklist {
   list-style-type: none;
   text-align: right;
   margin: 0px 4px 1px 2px;
   background-image: linear-gradient(to right, var(--color-bg), var(--color-field-lowlight));
   padding: 8px 6px;
   transition-duration: 300ms;
}

.linklist:hover {
   margin-right: 12px;
   transition-duration: 200ms;
   padding: 8px 12px;
   background-image: linear-gradient(to right, var(--color-bg), var(--color-field-highlight));
   cursor: pointer;
}

h2 {
   font-size: 18px;
}

a {
   color: var(--color-text-link-nonvisited);
}

a:visited {
   color: var(--color-text-link-visited);
}

#entry-display{
   font-size: 12px;
   display: inline-block;
   height: auto;
   vertical-align: top;
   width: 600;
   margin: 0px;
   padding: 16px;
   background-image: linear-gradient(to right, var(--color-pane-fade), var(--color-bg));
   height: 100%;
}

#cSwap {
   font-size: 24px;
   text-align: right;
   padding-right: 20px;
}

#iconPalette {
   cursor: pointer;
   color: var(--color-secret);
}

#hometext {
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   font-size: 22px;
   text-align: center;
   color: var(--color-text-main-ghost);
   width: 70%;
   transition-duration: 200ms;
   margin-bottom: -46px;
   margin-left: -2px;
}

#hometextB {
   color: var(--color-text-main);
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   font-size: 22px;
   text-align: center;
   width: 70%;
   transition-duration: 200ms;
}

#hometextB:hover {
   color: var(--color-text-heading);
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   font-size: 22px;
   text-align: center;
   width: 70%;
   transition-duration: 200ms;
   margin-left: 4px;
   cursor: pointer;
}

#splashLink {
   text-decoration: none;
}

/* portfolio entries */
#pview-lineHead {
   border-bottom: 1px solid var(--color-field-highlight);
   padding: 6px 14px 6px 0px;
   display: block;
}

#pview-types {
   display: inline-block;
   width: 20%;
   font-size: 25px;
   color: var(--color-text-main);
}

.pview-svgicon {
   fill: var(--color-text-main);
   stroke: var(--color-text-main);
   height: 25px;
   width: 25px;
   vertical-align: top;
}

/* .pview-typeicon {
} */

#pview-heading {
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   font-size: 22px;
   display: inline-block;
   width: 75%;
   text-align: right;
   color: var(--color-text-main);
   /* background-image: linear-gradient(to left, #444, #222); */
}

#pview-discipline {
   display: none;
}

#pview-description {
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   font-size: 16px;
   padding: 8px;

}

#pview-pLinks {
   margin: 8px;
}

#pview-dLink, #pview-gLink, #pview-demoLink {
   font-size: 24px;
   margin: 2px;
   color:  var(--color-text-highlight);
   transition-duration: 200ms;
}

#pview-dLink:hover, #pview-gLink:hover, #pview-demoLink:hover {
   color: var(--color-text-lowlight);
   transition-duration: 200ms;
}

#pview-clickHint {
   font-size: 20px;
   margin-left: 20px;
   transition-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
   transition-duration: 200ms;
}

#pview-clickDesc {
   display: block;
   margin-top: 18px;
}

textarea {
   resize: vertical;
   font-size: 12px;
   width: 100%;
   height: 200px;
   background-color  :rgba(0,0,0,0);
   color: var(--color-text-lowlight);
   border: 1px solid var(--color-field-highlight);
   border-radius: 8px;
   padding: 8px;
   white-space: pre;
}

textarea:focus {
   outline: none;
}

/* width */
textarea::-webkit-scrollbar {
   width: 6px;
   height: 6px;
 }
 
 /* Track */
 textarea::-webkit-scrollbar-track {
   background: var(--color-field-lowlight); 
 }
  
 /* Handle */
 textarea::-webkit-scrollbar-thumb {
   background: var(--color-text-lowlight);
   width: 14px;
 }
 
 /* Handle on hover */
 textarea::-webkit-scrollbar-thumb:hover {
   background: var(--color-text-highlight);
   width: 14px;
 }